{% extends 'base.html' %}

{% block hero %}
<div class="hero ">
    <div class="hero-body"
         style="backgroundImage: url(https://live.staticflickr.com/7897/31878640877_89fb0197ed_b.jpg); backgroundPosition: 'center center'; backgroundSize: 'cover'; opacity: '0.6'">
        <div class="container">
            <h1 class="title is-1 logo"> Navy DEP Blog</h1>
            <h2 class="subtitle is-3 logo">Reflection on life as a sailor</h2>
        </div>
    </div>
</div>
{% endblock hero %}

{% block page_content %}

<div class="columns is-centered">
    <div class="column is-11">
    {% for post in posts%}
    <h2 class="title is-2"><a href="{% url 'blog_detail' post.pk %}">{{post.title}}</a></h2>
    <small>
        {{post.created_on.date}} |&nbsp;
        Categories:|&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name%}">
            {{category.name}}
        </a> &nbsp;
        {% endfor %}
    </small>
    <p>{{post.body | slice:":400"}}...</p>
    {% endfor %}
    </div>
</div>
{% endblock %}
