{% extends 'base_accounts.html' %}

{% block title %}Password changed!{% endblock %}

{% block page_content %}
<div class="section">
    <div class="columns">
        <div class="column" >
            <div class="card">
                <div class="card-header">
                    <div class="card-header-title">
                        <h3 class="is-title-3">Password changed!</h3>
                    </div>
                </div>
                <div class="card-content">
                    <div class="has-text-success">
                        You have successfully changed your password
                    </div>
                    <a href="{% url 'login' %}" class="button is-info">Return to log in</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
