{% extends 'base_accounts.html' %}

{% block title %}Reset your password {% endblock %}

{% block page_content%}
<div class="level"><div class="level-item">
    <div class="columns">
        <div class="column">
            <div class="card" >
                <div class="card-header">
                    <div class="card-header-title" >
                        Reset your password
                    </div>
                </div>
                <div class="card-content" >
                    <p>Enter your email address and we will send you a password reset link</p>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                        <button type="submit" class="button is-info">Send password reset email</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div></div>
{% endblock %}
