{% extends 'base_accounts.html' %}

{% block title %}
{% if validlink %}
    Change password for {{form.user.username}}
{% else %}
Reset your password
{% endif %}
{% endblock %}

{% block page_content %}
<div class="level">
    <div class="level-item">
        <div class="columns is-centered">
            <div class="column" >
                <div class="card">
                    <div class="card-header">
                        Reset your password
                    </div>
                    <div class="card-content">
                        {% if validlink %}
                        <form method="post" novalidate>
                            {% csrf_token %}
                            {% include 'includes/form.html' %}
                            <button type="submit" class="button is-info">Confirm</button>
                        </form>
                        {% else %}
                        <div class="alert alert-danger">
                            It looks like you clicked on an invalid password reset link. Please try again
                        </div>
                        <a href="{% url 'password_reset' %}"></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
