{% extends 'base.html' %}

{% block title %}Change password {% endblock %}

{% block breadcumb %}
<li> Change password</li>
{% endblock%}

{% block page_content %}
<div class="section">
    <div class="columns">
        <div class="column">
            <form method="post">
                {% csrf_token %}
                {% include 'includes/form.html' %}
                <button type="submit" class="button">Change password</button>
            </form>
        </div>
        
    </div>
</div>
{% endblock %}
