{% extends 'base.html' %}

{% load static %}

{% block stylesheet %}{% endblock %}

{% block page_content %}
<div class="section">
    <div class="columns">
        <div class="column">
            <div class="card">
                <div class="card-content">
                    <div class="columns is-desktop">
                        <div class="column is-3">
                            <img src="https://via.placeholder.com/300" alt="" class="image">
                        </div>
                        <div class="column is-size-5">
                            <div class="level">
                                <div class="level-left"><div class="level-item">@ {{user.username}} </div></div>
                            </div>
                            <p>{{user.profile.birth_date}}</p>
                            <p>{{user.profile.bio}}</p>
                            <a class="button is-danger is-light" href="{% url 'update_profile'%}">edit</a>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="title"> All comments made: </div>
            {% for comment in comments %}
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        {{comment.created_on}} :
                        <br>
                        {{comment.body}}
                    </div>
                </div>
            </article>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
